h1.color{
    
    background: orchid;
    font-size: 30px;
    text-align: center;
    
}

.box{
    width: 43%;
    height: 100%;
    border: 5px solid orange;
    margin: 2.5%;
    border-radius: 0 20px 20px;
    padding: 10px ;
    text-align: justify;
    float: left;
}

.box1{
    width: 43%;
    height: 171px;
    border: 5px solid orange;
    margin: 2.5%;
    border-radius: 0 20px 20px;
    padding: 10px ;
    text-align:justify;
    float: left;
    overflow: hidden;
}

.scroll:hover{
    overflow-y:scroll; 
}

.background{ 
    background-image: url(Images/quran-3.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    
    text-align: center;
}

.background, h1.color{
    color: white;
}

.text-aligne{
    text-align: center;
    background: chocolate;
}

h1:hover{
    color:springgreen;  
}

a:visited {
    color: blue;}

  

.section,img{
    width:50%;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    
  }

  td, th {
    border: 1px solid black;
    border-collapse: collapse;
    width: 33.33%;
    text-align: center;
  }
  .section{
      float: left;
  }

  .column {
    float: left;
    width: 25%;
    padding: 5px;
    margin: 5%;
  }

  div li{
      color: goldenrod;
  }

  .box > p{
      color:tomato;
  }

  div + p{
    color:tomato;
    text-align: left;
}

div ~ p{
    font-style: italic;
}