h1.color{
    color: white;
    background: orchid;
    font-size: 30px;
    text-align: center;
    
}

.box{
    width: 42.5%;
    height: 100%;
    border: 5px solid orange;
    margin: 2.5%;
    border-radius: 0 20px 20px;
    padding: 10px ;
    text-align: justify;
    float: left;
}

.background{ 
    background-image: url(Images/quran2.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    text-align: center;
}

.text-aligne{
    text-align: center;
    background: chocolate;
}

h1:hover{
    color: crimson;  
}

img{
    width:50%;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    
  }

  td, th {
    border: 1px solid black;
    border-collapse: collapse;
    width: 33.33%;
    text-align: center;
  }
  .section{
      width: 50%;
      float: left;
  }

  .column {
    float: left;
    width: 25%;
    padding: 5px;
    margin: 5%;
  }

  